VITE_VIDHI_API_BASE_URL=http://localhost:8000/api/v1
VITE_VIDHI_API_TIMEOUT_MS=15000
VITE_VIDHI_WORKFLOW_TIMEOUT_MS=600000
VITE_VIDHI_API_RETRY_COUNT=2
VITE_VIDHI_USE_MOCK=false
VITE_DEFAULT_LOCALE=en-IN

